In [1]:
s = 'LVIII'

'III' in s

True

In [3]:
s.replace('III', '3')

'LV3'

In [11]:
roman_to_num = {'I': 1, 'V': 5, 'X': 10, 'L': 50, 'C': 100,
                'D': 500, 'M': 1000}


s = 'MCMXCIV'
num = 0

s = s.replace('IV', 'IIII').replace('IX', 'VIIII')
s = s.replace('XL', 'XXXX').replace('XC', 'LXXXX')
s = s.replace('CD', 'CCCC').replace('CM', 'DCCCC')

for c in s:
    num += roman_to_num[c]

print(num)

1994